@import "abstracts/colors";
@import "abstracts/variables";

.section-products {
  padding: 2rem 0 5rem;

  &__header {
    margin-bottom: 3rem;
    font-size: $font-size-xl;
    font-weight: $font-weight-normal;
    color: $color-gray-dark;
  }

  &__pagination {
    display: block;
    margin: 0 auto;
  }
}
