@import "abstracts/colors";
@import "abstracts/variables";

.container {
  padding: 2rem;

  .coffee-img {
    padding-left: 0;

    img {
      width: 100%;
      height: auto;
      max-height: 19rem;
      max-width: 12rem;
    }
  }

  .product-details {
    .badge {
      margin-left: 0.5rem;
    }
  }
}

