//MAIN THEM
$color-gray-dark: #444;
$color-gray: #777;
$color-gray-light: #B5B5B5;
$color-gray-lightest: #e3e3e3;
$color-main-bg: #faf9f9;
$color-light: #fff;

//TEXT
$color-text: $color-gray;

//SHADOW
$color-shadow: $color-gray-lightest;
