@import "abstracts/colors";

$font-size-sm: 1rem;
$font-size-md: 1.3rem;
$font-size-xl: 2.2rem;
$font-weight-normal: 400;
$font-weight-bold: 700;


$border-radius-base: 0.5rem;
$box-shadow: 0.1rem 0.1rem 0.2rem 0 $color-gray-lightest;
